<!DOCTYPE html>
<html lang="en" ng-app="wheel">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wheel Of Lunch</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://use.fontawesome.com/e23d6c4fc6.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body ng-controller="AppCtrl" ng-init='getOptions("<%= url('/') %>")'>
    <div class="container">

      <div id="wheel">
        <canvas id="canvas" width="500" height="500"></canvas>
      </div>

      <button id="spin">Stop!</button>

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <strong>Options</strong>
          <a ng-click="show=!show" class="btn pull-right">
            <button class="btn btn-primary"><i class="fa {{ chevronDirection(show) }}"></i></button>
          </a>
        </div>

        <div class="panel-body" ng-show="show">

          <div id="options" ng-show="show">
            <ul>
              <li ng-repeat="option in options">
                  {{ option.name }}
                  <input type="checkbox" class="pull-right" name="{{options.name}}" ng-model="option.on" ng-change="toggleOption(option)" />
              </li>
            </ul>

            <div id="add_option">
              <label for="name">
                <input type="text" name="name" id="name" ng-model="name" />
              </label>
              <button type="button" ng-click="createOption()">Add Option</button>
            </div> <!-- add_option -->

          </div> <!-- options -->
        </div> <!-- panel-body -->
      </div> <!-- panel -->

      <a href="https://wheelof.com/lunch/?zip=10018&query=lunch&radius=0.3">I want something else</a>

    </div> <!-- container -->
  </body>
</html>

