body {
    background: #efefef;
    padding-top: 2em;
}

.container {
    max-width: 600px;
    text-align: center;
}

strong {
    display: inline-block;
    margin-top: 1em;
    text-align: left;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    width: 10em;
    display: inline-block;
    border: 1px solid #eeeeee;
    margin: .5em 1em .5em 0;
    padding: 0 1em;
}
